/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* styles.css */

/* Colores */
:root {
  --color_principal: hsla(0, 86%, 38%, 0.918);
  --color_hov_principal: hsla(0, 79%, 15%, 0.8);
  --color_secundario: #beaf26;
  --color_blanco: #ffffff;
  --color_shadow: #3a0404;
  --color_rojo: #ad1414;
  --color_verde: #079c40;
  --color_1: #efe8e8;
  --color_2: #ffc400;
  --color_3: #ff00c8;
}

/* css para el index*/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color_blanco);
}

h1 {
  display:inline-block;
  background-color: var(--color_blanco);
  color: var(--color_principal);
  padding: 0px;
  text-align: center;
  flex-direction: column;
  border-radius: 4px;
}
h2 {
  background-color: var(--color_blanco);
  color: var(--color_principal);
  padding: 5px;
  text-align: center;
  border-radius: 4px;
  margin-top: 0%;
  text-shadow: 0 0 1px var(--color_shadow);
}


.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: var(--color_blanco);
  border: 1px solid var(--color_1);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 6px var(--color_shadow);
}
.containerh2 {
  max-width: 800px;
  margin: 20px auto;
  background-color: var(--color_blanco);
  border: 1px solid var(--color_1);
  border-radius: 5px;
  padding: 20px;
  
}

/********/
.toast-container {
  position: fixed;
  top: 0;
  right: 0;
  margin: 20px;
  max-width: 300px;
  z-index: 1000;
}

.toastify.toast {
  background-color: #5cb85c;
  color: #fff;
}
/*****/

/* Botones */
.actionsC {
  text-align: left;
}

.actionsC a.create {
  text-align: left;
  margin: 10px;
  padding: 5px 10px;
  text-decoration: none;
  background-color: var(--color_verde);
  color: var(--color_blanco);
  border-radius: 5px;
  box-shadow: 0 2px 2px var(--color_shadow);

}
.actionsC a.create:hover {
  text-align: left;
  margin: 10px;
  padding: 5px 10px;
  text-decoration: none;
  background-color: #0a7a35;
  color: var(--color_blanco);
  border-radius: 5px;
}

.actions {
  text-align: center;
}

.actions a {
  margin: 5px;
  padding: 5px 10px;
  text-decoration: none;
  background-color:  #008d6a;
  color: var(--color_blanco);
  border-radius: 5px;
  box-shadow: 0 2px 2px var(--color_shadow);

}
.actions a.edit:hover {
  margin: 5px;
  padding: 5px 10px;
  text-decoration: none;
  background-color: #015c45;
  color: var(--color_blanco);
  border-radius: 5px;
}
.actions a.delete{
  background-color: var(--color_rojo);
}
.actions a.delete:hover{
  background-color: rgb(133, 8, 8);
}

/* Tabla de contenido */

table {
  margin-top: 2%;
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid var(--color_1);
  padding: 10px;
  text-align: left;
}

th {
  background-color: var(--color_principal);
  color: var(--color_blanco);
}

tr:nth-child(even) {
  background-color: var(--color_1);
}

/* Estilo para las etiquetas de formulario de edit  */
.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-field {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid var(--color_1);
  border-radius: 5px;
  transition: border-color 0.3s;
}

.input-field:focus {
  border-color: var(--color_principal);
  outline: none;
}


/* Estilo para el contenedor del formulario de crear producto*/
.form-container {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20px;
  padding-top: 4vw;
  padding-bottom: 4vw;
  padding-left: 5vw;
  padding-right: 5vw;
  background-color: var(--color_blanco);
  border: 1px solid var(--color_blanco);
  border-radius: 5px;
  box-shadow: 0 0 6px var(--color_shadow);
}


.product-form {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  background-color: var(--color_blanco);
  border: 1px solid var(--color_blanco);
  border-radius: 5px;
  box-shadow: 0 0 6px var(--color_shadow);
}

.form-actions{
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-field {
  width: 95%;
  max-width: 95%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solidvar(--color_blanco);
  border-radius: 5px;
  transition: border-color 0.3s;
  background-color: var(--color_1);
}

.input-field:focus {
  border-color: var(--color_principal);
  outline: none;
}

.submit-button {
  background-color: var(--color_1);
  color: var(--color_principal);
  padding: 10px 40px;
  border: none  ;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 2px 2px var(--color_shadow);
}

.submit-button:hover {
  background-color: var(--color_hov_principal);
  color: var(--color_blanco);

}

.cancel-button {
  background-color: #dfdfd8;
  color: #2c2b2b;
  padding: 6px 15px;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  transition: background-color 0.3s;
  box-shadow: 0 2px 2px var(--color_shadow);

}

.cancel-button:hover {
  background-color: #999;
  color: #fff;
}
