/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* styles.css */
 
 /* Colores */
 :root {
  --color_principal: #007bff;
  --color_secundario: #00bbff;
  --color_blanco: #ffffff;
  --color_negro: #333333 ;
  --color_rojo: #ff5555 ;
  --color_verde: #3affb7 ;
  --color_1: #d5e6ec ;
  --color_2: #d5e6ec ;
  --color_3: #d5e6ec ;
}


 /* css para el index*/

 body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   background-color: var(--color_blanco);
 }
 h1 {
   background-color: var(--color_principal);
   color: var(--color_blanco);
   padding: 20px;
   text-align: center;
 }
 .container {
   max-width: 800px;
   margin: 20px auto;
   background-color: var(--color_blanco);
   border: 1px solid var(--color_blanco);
   border-radius: 5px;
   padding: 20px;
 }
 table {
   width: 100%;
   border-collapse: collapse;
 }
 th, td {
   border: 1px solid var(--color_blanco);
   padding: 8px;
   text-align: left;
 }
 th {
   background-color:var(--color_principal);
   color: var(--color_blanco);
 }
 tr:nth-child(even) {
   background-color: var(--color_blanco);
 }
 .actions {
   text-align: center;
 }
 .actions a {
   margin: 5px;
   padding: 5px 10px;
   text-decoration: none;
   background-color:var(--color_secundario);
   color:var(--color_blanco);
   border-radius: 5px;
 }
 .actions a.delete {
   background-color:var(--color_rojo);
 }
 .actions.create {
  background-color:var(--color_verde);
 }

 /* Estilo para las etiquetas de formulario de edit  */
.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
 }
 
 .input-field {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid var(--color_blanco);
    border-radius: 5px;
    transition: border-color 0.3s;
 }
 
 .input-field:focus {
    border-color:var(--color_principal); 
    outline: none;
 }
 
 .submit-button {
    background-color:var(--color_principal);
    color:var(--color_blanco);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
 }
 
 .submit-button:hover {
    background-color:var(--color_principal); 
 }
 /* Estilo para el contenedor del formulario de crear producto*/
.form-container {
    max-width: 400px; 
    margin: 0 auto;
    padding: 20px;
    background-color: var(--color_blanco);
    border: 1px solid var(--color_blanco);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--color_negro); 
  }
  
.product-form {
    max-width: 400px; 
    margin: 0 auto; 
    padding: 20px;
    background-color:var(--color_blanco);
    border: 1px solid var(--color_blanco);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--color_negro); 
 }
 
 .label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
 }
 
 .input-field {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solidvar(--color_blanco);
    border-radius: 5px;
    transition: border-color 0.3s;
 }
 
 .input-field:focus {
    border-color:var(--color_principal); 
    outline: none;
 }
 
 .submit-button {
    background-color:var(--color_principal);
    color:var(--color_blanco);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
 }
 
 .submit-button:hover {
    background-color: var(--color_principal); 
 }
 